[SddmGreeterTheme]
Name=Persona 5
Description=A kinetic, animated login theme inspired by Persona 5. "Take Your Time".
Author=Ricardo de Castro
Copyright=Copyright (C) 2025 Ricardo de Castro
License=GPL-3.0-or-later
Type=sddm-theme
Version=1.0
Website=https://github.com/YOUR_USERNAME/persona5-sddm-theme
Screenshot=Preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=your_email@example.com
Theme-Id=persona5
Theme-API=2.11
